{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="flex justify-center">
    <form method="post">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }},
                <a class="underline hover:text-[#370E12]" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="chewy-regular text-5xl mt-[88px] mb-6">Login</h1>
        {% if error %}
            <div class="mb-5 py-2 px-4 bg-red-600 text-white rounded-md">
               {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label class="sr-only" for="inputEmail">Email</label>
            <input  type="email" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" class="w-[400px] form-control pl-3 py-2 rounded-xl border-2 border-[#4F272B]" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" name="password" placeholder="Password" id="inputPassword" class="w-[400px] form-control pl-3 py-2 rounded-xl border-2 border-[#4F272B]" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" autocomplete="off" value="csrf-token">

        <div class="checkbox mt-2 mb-4">
            <label>
                <input type="checkbox" name="_remember_me" checked> Remember me
            </label>
        </div>

        <button class="rounded-[60px] border-2 border-[#50272B] bg-[#FBD509] hover:bg-[#E2BC00] shadow-inner py-3 px-5 w-full poppins-bold uppercase" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
